<div class="viewport-bottom">
    <footer class="site-foot">
        <div class="site-foot-nav container">
            <div class="site-foot-nav-left">
                <a aria-current="page" class="" href="/">Afrorama</a>
                © 2022 — Made with Love By <a class="site-foot-nav-item" href="#" target="_blank" rel="noopener noreferrer">Zeptoman &amp; Binmulindi6</a>
            </div>
            <div class="site-foot-nav-right">
                <a aria-current="page" class="site-nav-foot-item" href="/">Home</a>
                <a class="site-foot-nav-item" href="/article">Articles</a>
                <a class="site-foot-nav-item" href="#">About-Us</a>
                <a class="site-foot-nav-item" href="/contact-us">Contact Us</a>
            </div>
        </div>
    </footer>
</div>