<header class="site-head" >
    <div class="container">
        <div class="site-mast">
            <div class="site-mast-left">
                <a aria-current="page" class="" href="/">
                    <img class="site-logo" src="" alt="Afrorama"/>
                </a>
            </div>
        </div>
        <div class="site-banner">
            <h1 class="site-banner-title">Afrorama</h1>
            <p class="site-banner-desc">Where Dreams Came True</p>
        </div>
        <nav class="site-nav">
            <div class="site-nav-left">
                <a aria-current="page" class="site-nav-item" href="/">Home</a>
                <a class="site-nav-item" href="/">Articles</a>
                <a class="site-nav-item" href="/articles/new">New Article</a>
            </div>
            <div class="site-nav-right">
                <a class="site-nav-button" href="/login">Login</a>
            </div>
        </nav>
    </div>
</header>